{{>template}}

<br />
<section class="py-5">
    <div class="container modal-dialog">
        <div class="row col-lg-12">
            <div class="col-lg-12 mx-auto">
                <header class="text-center pb-">
                    <h1 class="h2"> {{header}}</h1>
                    <p>{{subHeader}} </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">{{text}}</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">{{author}}
                        <cite title="Source Title"> from NodeLearn</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
