<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/avengersicon_titleBar.ico">
    <title> {{title}} | LearnNode </title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="/css/custom.css">
</head>

<body id="body" class="container" style="width: 100%;">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:2%;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Index<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/Weather">Weather</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</body>

</html>